*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    padding: 0 15px;

}


.game{
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(./22.jpg);
    background-size: cover;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 10px;
    transition: margin 0.5s ease-out;
}
.screen.up{
    margin-top:-100vh ;
}
.game-title{
    font-size: 48px;
    background-color: #333;
    padding: 10px 30px;
    color:#fff ;
    margin-bottom: 25px;
    border-radius: 20px;
   
}

.start{
    font-size: 36px;
    color:#fff ;
    background-color: #333;
    text-decoration: none;
    padding: 10px 20px;
border-radius: 10px;
cursor: pointer;
}

.start:hover{
    color:#13cfa0;
}

.time-list{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.time-btn{
    border: none;
    background-color: #09251e;
    color: aliceblue;
    padding: 10px 20px;
    cursor: pointer;
}

.time-btn:hover {
    color: #13cfa0;
}

.game-time{
    margin-bottom: 15px;
    font-size: 26px;
    color: #14cfa0;
}

.board {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #333;
    padding:10px;
}

@media screen and (max-width:320px) {
    .board{
        padding:10px;
    }
}

.game-new {
    border: 10px;
    background-image: #09251e;
   background-color:rgb(39, 34, 34) ;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
}

.hide{
    opacity: 0;
    transition: opacity 0.5s linear;
}

.motivaichon-text{
    color: #fff;
    background-color: #26322f;
    border: 30px;
}

.circle{
    background-image: url(./74041.png);
    position: absolute;
    background-size: cover;
    cursor: pointer;
}